[submodule "cookbooks/build-essential"]
	path = cookbooks/build-essential
	url = https://github.com/opscode-cookbooks/build-essential.git
[submodule "cookbooks/git"]
	path = cookbooks/git
	url = https://github.com/opscode-cookbooks/git.git
[submodule "cookbooks/nginx"]
	path = cookbooks/nginx
	url = https://github.com/opscode-cookbooks/nginx.git
[submodule "cookbooks/zsh"]
	path = cookbooks/zsh
	url = https://github.com/opscode-cookbooks/zsh.git
[submodule "cookbooks/apt"]
	path = cookbooks/apt
	url = https://github.com/opscode-cookbooks/apt.git
[submodule "cookbooks/mongodb"]
	path = cookbooks/mongodb
	url = https://github.com/edelight/chef-mongodb
[submodule "cookbooks/ohai"]
	path = cookbooks/ohai
	url = https://github.com/opscode-cookbooks/ohai.git
